#logo {
    margin-top: 5%;
    margin-left: 5%;
}
#logo img {
    max-width: 25vw;
}
#myTab{
    margin-bottom: 30%
}
.form-group input{
    border-color: #007BFF;
    background-color: #F9ECD9
}
#myTab{
    min-width: 100%;
    background-color: #fff;
}
.nav-item{
    width: 50%;
}
.nav-item a{
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}