@media screen and (min-width: 786px) {
    #image {
        background-image: url(../../storage/myAssets/authFormPage/2.jpg);
        background-color: #1F1F21;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        border: 0;
    }
    #forms {
        background-color: rgba(134, 134, 134, 0.342);
    }
    #myTab {
        margin-top: 60px;
    }
}
